/* TaskTitle.css */

.CustomTextField-root {
    & .MuiOutlinedInput-root {
      border: 3px solid #e6e6e6;
      outline: none;
      width: 435px; /* Use relative width for responsiveness */
      @media (max-width: 497px) {
        width: 200px; /* Set width to 100% for screens less than 435px */
      }
  
  
      &:hover {
        border: 3px solid orange;
      }
  
      &.Mui-focused {
        border: 3px solid red;
      }
  
      & .MuiOutlinedInput-notchedOutline {
        border: none; /* Remove default border */
      }
  
      height: 50px;
      
      outline: none;
 
      margin-bottom: 20px;
      border-radius: 20px;
   
      
  
      & .MuiInputBase-input::placeholder {
      
        font-weight: bold;
        color: black;
        
      }
  
     
    }
  }
  /* .CustomTextField-root .MuiOutlinedInput-input {
    padding: 11px;
  }
  
  .CustomTextField-root .MuiOutlinedInput-input {
    padding: 11px;
  }
  
  .CustomTextField-root .MuiInputBase-input::placeholder {
    padding: 11px;
  }
  
  .CustomTextField-root.MuiOutlinedInput-multiline .MuiOutlinedInput-input {
    padding: 11px;
    margin: 10px 0;
  }
  
  
   */
  
  
  



   .CustomDropdownContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }

/* CustomDropdown.css */

.CustomDropdown-root {
    height: 50px;
    border-radius: 20px;
    width:  200px; /* Use relative width for responsiveness */
    @media (max-width: 497px) {
      
      width: 200px; /* Set width to 100% for screens less than 435px */
    }
    
    background-color: #fff;
    outline: none;
    margin-top: 10px;
    font-weight: bold;
    border: 3px solid #e6e6e6;

    &:hover {
        border: 3px solid orange;
    }

    &.Mui-focused {
        border: 3px solid red;
    }

    & .MuiOutlinedInput-notchedOutline {
        border: none; /* Remove default border */
    }
}





.fist_image
{
     height: 80px;
     width: 80px;
}

.third_div{
    margin-left: 50px
}
/* InputBox.css */

/* Styles for larger screens */
/* .d-flex {
    display: flex;
  }
   */
 
  
   .OuterDivboxes {
    max-width: 435px;
    padding-top: 40px;
    margin: auto;
    width: 100%;
  
   
  }
  .cardResponsiveNess
  {
    @media (max-width: 435px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  




Button.customButton {
  border-radius: 20px;
  height: 50px;
  width: 435px;

  @media (max-width: 497px) {
    width: 200px; /* Set width to 200px for screens less than 497px */
  }
  
  }

  .allFieldsLeftMargin
  {
    @media (max-width: 497px) {
      margin-left: 20px; /* Set width to 200px for screens less than 497px */
    }
  }

  

  
  