body{
  margin: 0;
  padding: 0;
}
.custom-input:focus {
  border-color: orange; /* Border color when focused */
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* Adjust this to make it take the full height of the viewport */
}


